<h1>Find Robot Parts</h1>
<p>Find Robot Parts is a resource built for robotics teams and makers who want to spend less time searching and more time building. Instead of visiting multiple supplier sites, you can browse organized categories that highlight motors, gearboxes, sensors, and more—all linked to trusted vendors that serve the robotics community. Whether you’re part of an FRC team or working on your own project, this site helps you compare components, discover new products, and find exactly what you need to bring your ideas to life.</p>

<div class="homepage">
	<h2>3D Printed Models</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/3d/battery-accessories.html">
				<img src="/images/categories/3d/battery-accessories-gray.webp" class="img-thumbnail" alt="Battery Accessories">
				<p>Battery Accessories</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/3d/motor-adaptors.html">
				<img src="/images/categories/3d/motor-adaptors-gray.webp" class="img-thumbnail" alt="Motor Adaptors">
				<p>Motor Adaptors</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/3d/mounts.html">
				<img src="/images/categories/3d/mounts-gray.webp" class="img-thumbnail" alt="Mounts">
				<p>Mounts</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/3d/wheels.html">
				<img src="/images/categories/3d/wheels-gray.webp" class="img-thumbnail" alt="Wheels">
				<p>Wheels</p>
			</a>
		</div>
	</div>
	<h2>Electrical</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/batteries.html">
				<img src="/images/categories/batteries-gray.webp" class="img-thumbnail" alt="Batteries">
				<p>Batteries</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/battery-chargers.html">
				<img src="/images/categories/battery-chargers-gray.webp" class="img-thumbnail" alt="Battery Chargers">
				<p>Battery Chargers</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/gamecontrollers.html">
				<img src="/images/categories/gamecontrollers-gray.webp" class="img-thumbnail" alt="Game Controller">
				<p>Game Controller</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/lights.html">
				<img src="/images/categories/lights-gray.webp" class="img-thumbnail" alt="Lights">
				<p>Lights</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/motor-controllers.html">
				<img src="/images/categories/motor-controllers-gray.webp" class="img-thumbnail" alt="Motor Controllers">
				<p>Motor Controllers</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/sensors.html">
				<img src="/images/categories/sensors-gray.webp" class="img-thumbnail" alt="Sensors">
				<p>Sensors</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/wireconnectors.html">
				<img src="/images/categories/wireconnectors-gray.webp" class="img-thumbnail" alt="Wire Connectors">
				<p>Wire Connectors</p>
			</a>
		</div>
	</div>
	<h2>Hardware</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/bearings.html">
				<img src="/images/categories/bearings-gray.webp" class="img-thumbnail" alt="Bearings">
				<p>Bearings</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/gussets.html">
				<img src="/images/categories/gussets-gray.webp" class="img-thumbnail" alt="Gussets and Mounts">
				<p>Gussets and Mounts</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/shafts.html">
				<img src="/images/categories/shafts-gray.webp" class="img-thumbnail" alt="Shafts">
				<p>Shafts</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/shaftcollars.html">
				<img src="/images/categories/shaftcollars-gray.webp" class="img-thumbnail" alt="Shaft Collars">
				<p>Shaft Collars</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/structure.html">
				<img src="/images/categories/structure-gray.webp" class="img-thumbnail" alt="Structure">
				<p>Structure</p>
			</a>
		</div>
	</div>
	<h2>Motion</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/belts.html">
				<img src="/images/categories/belts-gray.webp" class="img-thumbnail" alt="Belts">
				<p>Belts</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/chain.html">
				<img src="/images/categories/chain-gray.webp" class="img-thumbnail" alt="Chain">
				<p>Chain</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/gearboxes.html">
				<img src="/images/categories/gearboxes-gray.webp" class="img-thumbnail" alt="Gearboxes">
				<p>Gearboxes</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/gears.html">
				<img src="/images/categories/gears-gray.webp" class="img-thumbnail" alt="Gears">
				<p>Gears</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/hubs.html">
				<img src="/images/categories/hubs-gray.webp" class="img-thumbnail" alt="Hubs">
				<p>Hubs</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/linearactuators.html">
				<img src="/images/categories/linearactuators-gray.webp" class="img-thumbnail" alt="Linear Actuators">
				<p>Linear Actuators</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/motors.html">
				<img src="/images/categories/motors-gray.webp" class="img-thumbnail" alt="Motors">
				<p>Motors</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/pulleys.html">
				<img src="/images/categories/pulleys-gray.webp" class="img-thumbnail" alt="Pulleys">
				<p>Pulleys</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/servos.html">
				<img src="/images/categories/servos-gray.webp" class="img-thumbnail" alt="Servos">
				<p>Servos</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/sprockets.html">
				<img src="/images/categories/sprockets-gray.webp" class="img-thumbnail" alt="Sprockets">
				<p>Sprockets</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/swerve.html">
				<img src="/images/categories/swerve-gray.webp" class="img-thumbnail" alt="Swerve">
				<p>Swerve</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/wheels.html">
				<img src="/images/categories/wheels-gray.webp" class="img-thumbnail" alt="Wheels">
				<p>Wheels</p>
			</a>
		</div>
	</div>
	<h2>Pneumatics</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/accumulators.html">
				<img src="/images/categories/accumulators-gray.webp" class="img-thumbnail" alt="Accumulators">
				<p>Accumulators</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/compressors.html">
				<img src="/images/categories/compressors-gray.webp" class="img-thumbnail" alt="Compressors">
				<p>Compressors</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/pneumaticcomponents.html">
				<img src="/images/categories/pneumatic-components-gray.webp" class="img-thumbnail" alt="Components">
				<p>Components</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/pneumaticfittings.html">
				<img src="/images/categories/pneumaticfittings-gray.webp" class="img-thumbnail" alt="Fittings">
				<p>Fittings</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/pneumatictubing.html">
				<img src="/images/categories/pneumatictubing-gray.webp" class="img-thumbnail" alt="Tubing">
				<p>Tubing</p>
			</a>
		</div>
	</div>
	<h2>Miscellaneous</h2>
	<div class="row">
		<div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/bumperfabric.html">
				<img src="/images/categories/bumperfabric-gray.webp" class="img-thumbnail" alt="Bumper Fabric">
				<p>Bumper Fabric</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/bumpernumbers.html">
				<img src="/images/categories/bumpernumbers-gray.webp" class="img-thumbnail" alt="Bumper Numbers">
				<p>Bumper Numbers</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/resources-programming.html">
				<img src="/images/categories/resources-programming-gray.webp" class="img-thumbnail" alt="Programming Resources">
				<p>Programming Resources</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/subsystems.html">
				<img src="/images/categories/subsystems-gray.webp" class="img-thumbnail" alt="Subsystems">
				<p>Subsystems</p>
			</a>
		</div><div class="col-4 col-sm-3 col-lg-2 text-center">
			<a href="/vendors.html">
				<img src="/images/categories/vendors-gray.webp" class="img-thumbnail" alt="Vendors">
				<p>Vendors</p>
			</a>
		</div>
	</div>
</div>