nav {
	min-height: 80px;
}

a {
	color: #51905a;
}

a:hover, a.active {
	color: #62a76c;
}

a .img-thumbnail {
	border-color: #dddddd;
}

a:hover .img-thumbnail {
	padding: 0rem;
}

#offcanvas a {
	text-decoration: none;
}

#offcanvas .h6 {
	border-bottom: 1px solid #4d4d4d;
	color: #4d4d4d;
}

.bg-dark {
	background-color: #000 !important;
}

.bg-light {
	background-color: #f3f4f5 !important;
}

.list-group-item-green {
	background-color: #51905a;
	color: #fff;
}
.list-group-item-green.list-group-item-action:focus, 
.list-group-item-green.list-group-item-action:hover {
	background-color: #62a76c;
	color: #fff;
}

.btn-outline-green {
    color: #3c6b43;
    border-color: #3c6b43;
}

.btn-check:active+.btn-outline-green, 
.btn-check:checked+.btn-outline-green, 
.btn-outline-green.active, 
.btn-outline-green.dropdown-toggle.show, 
.btn-outline-green:active {
    color: #fff;
    background-color: #3c6b43;
    border-color: #3c6b43;
}

.btn-outline-green:hover {
    color: #fff;
    background-color: #51905a !important;
    border-color: #51905a !important;
}

#sidebar {
	height: calc(100vh - 80px);
	top: 80px;
	position: sticky;
	overflow-y: scroll;
}

footer {
	background-color: #343a40;
	color: #fff;
}

footer a {
	color: #fff !important;
}

.accordion-button:not(.collapsed) {
    color: #3c6b43;
    background-color: #f9fbf9;
}

@media (min-width: 576px) {

}

@media (max-width: 575px) {
	.navbar .nav {
		font-size: 0.65rem;
	}
}