<div class="col-6 col-sm-12">
	<p class="h6 mt-4">{{category}}</p>
	<div class="btn-group-vertical btn-group-sm full-width" role="group" aria-label="{{escapedCategory}} options">
		{{{tags}}}
		<button type="button" class="btn btn-outline-green">Show <span class="all">All</span><span class="less">Less</span></button>
	</div>
</div>